/* Styles généraux */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: radial-gradient(circle, #000428, #004e92);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  width: 400px;
  background: rgba(0, 0, 0, 0.9);
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.toggle-box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.toggle-box button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s ease;
}

.toggle-box button.active {
  background: linear-gradient(45deg, #ff5733, #c70039);
  border-radius: 5px;
}

.form {
  display: none;
}

.form.active {
  display: block;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  background: linear-gradient(45deg, #ff5733, #c70039);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(45deg, #c70039, #900c3f);
}

p {
  font-size: 0.9rem;
  color: #ff6b6b;
  display: none;
  text-align: center;
}

.back-button {
  margin: 30px auto; /* Centrer le bouton horizontalement */
  text-align: center;
}

.back-button a {
  display: inline-block; /* S'assurer que le bouton reste en ligne */
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50; /* Vert moderne */
  padding: 12px 30px; /* Espacement interne */
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px; /* Bord arrondi pour un style moderne */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  transition: all 0.3s ease; /* Animation lors du survol */
}

.back-button a:hover {
  background-color: #4CAF50; /* Vert plus foncé au survol */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Accentuation de l'ombre */
  transform: translateY(-3px); /* Léger déplacement vers le haut */
}

.back-button a:active {
  background-color: #4CAF50; /* Couleur plus sombre au clic */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Réduction de l'ombre */
  transform: translateY(2px); /* Déplacement vers le bas */
}
