body {
<<<<<<< HEAD
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  color: #333;
}

header {
  background: #333;
  color: white;
  padding: 10px 0;
}

header nav h1 {
  margin: 0;
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

section {
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #0056b3;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #333;
  color: white;
  margin-top: 20px;
}
=======
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    padding: 20px;
    width: 50%;
}

h2 {
    text-align: center;
}

.input-field {
    margin-bottom: 15px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign-up-button {
    background-color: #28a745;
    color: white;
}

.sign-in-button {
    background-color: #007bff;
    color: white;
}

.social-login {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;

}
.icon {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: 1s;
   border-radius: 10px;
}

.icon:hover {
    color: #007bff;
    border: 2px solid #333;
    
}
/*.social-login a{
    border: 1px solid #ccc;
        border-radius: 20%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        width: 40px;
        height: 40px;
        background-color: #007bff;
        color: black;
}*/

.social-button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    background-color: #e9ecef;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-bottom: 10px;
}   
>>>>>>> 12844b617ef135ec034c66b72f05953fac1f27ad
